@use "../../settings/global" as gl;

$on-border: solid 1px gl.$theme-color-acc;
$off-border: solid 1px #888;
$on-bgc: gl.$theme-color-acc-3;
$off-bgc: #fff;
$off-ftc: #888;
$btn-h: gl.$vr-rem-base * 1.75;

.rsv-weeklink {
  display: flex;
  justify-content: space-between;

  .link-button {
    width: 9em;
    height: $btn-h;
    border: $on-border;
    background-color: $on-bgc;
    text-align: center;
    line-height: $btn-h;
    font-size: gl.$txt-rem-sm;

    a, span {
      display: block;
    }

    .next, .prev {
      position: relative;
      right: 0;
    }
    .next {
      padding-right: 1em;
    }
    .prev {
      padding-left: 1em;
    }

    .next::after, .prev::after {
      border-left: 6px solid gl.$theme-color-main;
      right: 1em;
      border-bottom: 6px solid transparent;
      border-top: 6px solid transparent;
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .prev::after {
      border-left: none;
      border-right: 6px solid gl.$theme-color-main;
      left: 1em;
    }


    &:hover {
      .next::after {
        border-left-color: gl.$theme-color-acc-2;
      }
      .prev::after {
        border-right-color: gl.$theme-color-acc-2;
      }
    }
  }

  .link-button--off, .link-button--off:hover {
    border: $off-border;
    background-color: $off-bgc;
    color: $off-ftc;

    .next::after {
      border-left-color: $off-ftc;
    }
    .prev::after {
      border-right-color: $off-ftc;
    }
  }
}
